<html>
<head>
  <title>Rose-Mwol</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  
  <script src="index.js"></script>
  <link rel="stylesheet" href="style.css">
</head>
<body class="is-preload">

  <!-- Wrapper -->
    <div id="wrapper">
                              
              <!-- Header -->
      <header id="header">
          <div class="logo">
              <span class="icon fa-gem"></span>
          </div>
          <div class="content">
              <div class="inner">
                  <h1>Rose-Mwol ❤️</h1>
                  <p>
                      Rose-Mwol Is Sucessfully Running Here.</br> 
                  </p>
              </div>
          </div>  
      </header>

      <!-- Footer -->
        <footer id="footer">
          <p class="copyright">&copy; Copyright © 2022: <a href="https://github.com/Sachu-Settan">Developer: Sachu-Settan</a>.</p>
        </footer>

    </div>

  <!-- BG -->
    <div id="bg"></div>

   	<!-- Scripts -->
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/browser.min.js"></script>
  <script src="assets/js/breakpoints.min.js"></script>
  <script src="assets/js/util.js"></script>
  <script src="assets/js/main.js"></script>

</body>
</html>
